@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable {
  min-height: 200px; /* Adjust the height as needed */
}

.studentList {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(0, 177, 244, 0.31);
}
